.label-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  /* ajusta según necesidad */
}

.table-print-invoice-classic-header {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.header-logo-cell {
  width: 20%;
  border: none;
  text-align: left;
  vertical-align: top;
}

.header-logo-container {
  display: flex;
  justify-content: left;
  align-items: left;
}

.header-logo {
  max-width: 94%;
  max-height: 60%;
  object-fit: contain;
}

.header-info-cell {
  width: 50%;
  vertical-align: top;
  border: none;
}

.header-info {
  font-size: 14px;
}

.company-name {
  font-weight: normal;
  font-size: 14px;
}

.label {
  font-weight: normal;
  font-size: 14px;
}

.info {
  font-weight: normal;
  font-size: 14px;
}

.header-summary-cell {
  width: 30%;
  vertical-align: top;
  border: none;
}

/*features*/

.section-box {
  font-size: 0.8rem;
  /*width: 100%;*/
  border: 2px solid #d7d7d7;
  border-radius: 10px;
  /*background-color: #eeeeee;*/
  padding: 10px;
}

.header-summary-content {
  text-align: center;
}

.hms-table {
  border: hidden;
  border-collapse: collapse;
}

.hms-table th {
  border-bottom: 1px solid #000;
}

.hms-table td {
  /*border: hidden;*/
  border: none;
}
